spring:
  application:
    name: devops2-app-mukhanovt
    description: DevOps2 Application by MukhanovT
  
  datasource:
    url: jdbc:postgresql://localhost:5432/devops2db
    username: postgres
    password: qweqwe
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
  servlet:
    context-path: /devops2

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.mukhanovt: INFO
    org.springframework: WARN